<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head partial -->
  <%- include ../partials/head %>
</head>

<body>
  <!-- Header Navbar partial -->
  <%- include ../partials/header %>

  <!-- Body partial -->

  <div id"textcontainer" class="ui text container">
    <p></p>

    <!-- second page partial -->
    <%- include ../partials/index/secondPage.ejs %>

    <!-- third page partial -->
    <%- include ../partials/index/thirdPage.ejs %>

    <!-- fourth page partial -->
    <%- include ../partials/index/fourthPage.ejs %>


  </div>
  <!-- Body partial ends -->

  <!-- Footer partial -->
  <%- include ../partials/footer %>

</body>
</html>
